@import "../../../css-config/mixins.scss";

.product-card {
  width: calc(50% - 5px);
  margin-bottom: 20px;
  @include md {
    width: calc(25% - 15px);
  }
  .thumbnail {
    width: 100%;
    height: 150px;
    background-color: #0000000d;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    @include md {
      padding: 10px;
      height: 300px;
    }
    img {
      display: block;
      transition: all ease 0.3s;
      width: 100%;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .product-details {
    .name {
      display: block;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include md {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    .price {
      font-size: 18px;
      @include md {
        font-size: 25px;
      }
    }
  }
}
